-if notice
  =content_tag :div, class: "flash bg-success text-success" do
    %i.fa.fa-check
    =notice
-if alert
  =content_tag :div, class: "flash bg-danger text-danger" do
    =icon "close"
    =alert
