%nav.navbar.navbar-static-top.navbar-inverse
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to "Projekts", root_path, class: "navbar-brand"

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
      %ul.nav.navbar-nav.navbar-right
        -if current_user
          %li.navbar-text
            =image_tag "http://s.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.email)}?size=40", width: 20
            =current_user.name
          %li
            =link_to "Log out", destroy_user_session_path, method: :delete
        -else
          %li
            =link_to "Log in", new_user_session_path
