!!! 5
%html
  %head
    %meta{charset: "utf-8"}/
    %title Projekts
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags
  %body.page-login
    .container
      .col-md-offset-4.col-md-4
        =render "flash"
        =yield
